<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.demo.mapper.CrawlingMapper">

    <select id="getCrawlingEntireData" parameterType="string" resultType="CrawlingDTO">
        SELECT * FROM crawling WHERE `unique_key` = #{uniqueKey}
    </select>

    <select id="getCrawlingEntireDataCnt" resultType="int">
        SELECT COUNT(*) FROM crawling
    </select>
    <select id="selectCrawlingDataCnt" parameterType="map" resultType="int">
        SELECT COUNT(*) FROM crawling WHERE `mart_cd` = #{martCd} AND `crawling_date` = #{date}
    </select>
    
    <select id="selectCrawlingData" parameterType="map" resultType="hashmap">
        SELECT * FROM crawling WHERE `mart_cd` = #{martCd} AND `crawling_date` = #{date}
    </select>
    
    <insert id="insertCrawlingData" parameterType="arraylist">
        INSERT INTO crawling (`mart_cd`, `subtitle`, `goods_name`, `price`, `goods_direct_link`, `crawling_date`)
        VALUES 
        <foreach collection="list" item="arr" separator=","> 
            (#{arr.martCd}, #{arr.subtitle}, #{arr.goodsName}, #{arr.price}, #{arr.goodsDirectLink}, #{arr.crawlingDate})
        </foreach>
    </insert>

    <!-- <update id="updateMember" parameterType="java.util.ArrayList">
        UPDATE crawling (`mart_cd`, `subtitle`, `goods_name`, `price`, `goods_direct_link`, `crawling_date`)
        VALUES (#{id}, #{pw}, #{name}, #{birth}, #{email})
    </update> -->

    <!-- <delete id="deleteCrawlingData" parameterType="String">
        DELETE FROM crawling WHERE `unique_key` = #{uniqueKey}
    </delete> -->

</mapper>