html, body {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    position: sticky;
}
#sidebarSection, #mainSection {
    margin: 30px;
    padding-left: 10px;
    padding-right: 30px;
    border-right: thin solid #262626;
    overflow-y: hidden;
}
#sidebarSection {
    flex: 0 0 15%; /* 사이드바 너비 고정 */
}
#mainSection {
    flex: 1; /* 메인 섹션은 남은 공간 모두 차지 */
    overflow-y: auto;
    float: right;
}

a {
    color: white;
    font-size: medium;
    text-decoration: none; /* 링크 밑줄 삭제 */
}
ul {
    list-style: none;   /* 리스트 점(불릿) 해제 */
    padding-left: 0px;  /* 리스트 들여쓰기 해제 */
}
ul li {
    margin: 20px 0px 20px 0px;
}
svg {
    cursor: pointer;
    transition: box-shadow 0.3s; /* hover 효과에 부드러운 전환 효과 추가 */
}

/* 각 SVG 이미지에 대한 hover 효과 */
#menuMain li:hover svg {
    box-shadow: 0 0 20px rgba(169, 169, 169, 0.9); /* 큰 회색 그림자 효과 */
    border-radius: 5px; /* SVG에 그림자를 적용하려면 약간의 둥근 모서리 추가 */
    z-index: -1; /* SVG를 뒤에 배치 */
}


ul#menuMain li img#mypageIcon {
    width: 25px;
    height: 25px;
    margin-bottom: 20px;
    border: 1px;
    border-color: white;
    border-radius: 100px;
    cursor: pointer;
}
#headerMenu {
    margin: 0 0 3% 0;
}
#menuMain {
    height: 80%;
}