@charset "UTF-8";

body {
    background-color: black;
}

h2, p{
	color: white;
}

.input_s{
	margin: 10px; 
	background-color: #FAFAFA;
	border-width: 1px; /* 테두리 두께 */
  	border-style: solid; /* 테두리 스타일 */
  	border-color: #777777;
  	color: #A4A4A4;
  	
  	height: 20px; /* 입력 필드의 높이를 설정합니다. */
}

body, html {
    height: 100%; /* 전체 페이지 높이 설정 */
    margin: 0; /* 기본 마진 제거 */
}

#container_l1 {
    display: flex;
    justify-content: center; /* 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    height: 100%; /* 전체 페이지 높이와 동일하게 설정 */
}

#container_l2 {
    display: flex; /* flexbox 레이아웃 사용 */
    flex-direction: column; /* 항목을 수직 방향으로 정렬 */
    justify-content: center; /* 항목을 세로 방향으로 중앙 정렬 */
    /* align-items: center; */ /* 항목을 가로 방향으로 중앙 정렬 */
    /* height: 100%; */ /* 전체 페이지 높이와 동일하게 설정 */
}

#container_s {
    display: flex; /* flexbox 레이아웃 사용 */
    flex-direction: column; /* 항목을 수직 방향으로 정렬 */
    justify-content: center; /* 항목을 세로 방향으로 중앙 정렬 */
    align-items: center; /* 항목을 가로 방향으로 중앙 정렬 */
    height: 100%; /* 전체 페이지 높이와 동일하게 설정 */
}
	
#div_l1{
 	display: flex;
	flex-direction: column; /* 세로 방향으로 아이템을 정렬합니다. */
	align-items: center; /* 가로 중앙 정렬 */
	justify-content: center; /* 세로 중앙 정렬 */
	
	margin: 10px auto;
	width: 280px; 
	border:2px solid #777777;
	border-radius:15px;
	text-align: center;
	height: 250px;
	} 
    
#div_l2{
	display: flex;
	flex-direction: column; /* 세로 방향으로 아이템을 정렬합니다. */
	align-items: center; /* 가로 중앙 정렬 */
	justify-content: center; /* 세로 중앙 정렬 */
	
	margin: 10px auto;
	width: 280px; 
	border:2px solid #777777;
	border-radius:15px;
	text-align:center;
	height: 100px;
	} 
	
#div_s1{
 	display: flex;
	flex-direction: column; /* 세로 방향으로 아이템을 정렬합니다. */
	align-items: center; /* 가로 중앙 정렬 */
	justify-content: center; /* 세로 중앙 정렬 */
	
	margin: 10px auto;
	width: 300px; 
	border:2px solid #777777;
	border-radius:15px;
	text-align: center;
	height: 400px;
	} 
    
#div_s2{
	display: flex;
	flex-direction: column; /* 세로 방향으로 아이템을 정렬합니다. */
	align-items: center; /* 가로 중앙 정렬 */
	justify-content: center; /* 세로 중앙 정렬 */
	
	margin: 10px auto;
	width: 300px; 
	border:2px solid #777777;
	border-radius:15px;
	text-align:center;
	height: 100px;
	} 
	
#button{
	background-color: #777777; /* 버튼의 배경색을 파란색으로 설정 */
    border: none; /* 테두리를 없앰 */
    border-radius:10px;
    color: white; /* 버튼 내 텍스트 색상을 흰색으로 설정 */
    padding: 5px 5px; /* 버튼 내부의 상하좌우 여백을 설정 */
    text-align: center; /* 텍스트를 가운데 정렬 */
    text-decoration: none; /* 텍스트 밑줄을 없앰 */
    display: inline-block; /* 버튼을 인라인 블록 요소로 설정 */
    font-size: 16px; /* 폰트 크기 설정 */
    margin: 1px 1px; /* 마진으로 버튼 주변 여백 설정 */
    cursor: pointer; /* 마우스 포인터를 손가락 모양으로 설정 */
}
    
#a1{
	display: block; 
	color : #777777;
	margin: 10px; 
	font-weight:900; 
	text-decoration: none;
}

#p1_s{
	font-size: 12px;	
}

input[type=submit]{margin: 10px;  width:100px;}

.tooltip_c {
    display: none;
    font-size: 15px;
    position: absolute;
    background-color: #777777;
    color: white;
    padding: 3px;
    border-radius: 3px;
    z-index: 1000; /* 툴팁이 다른 요소 위에 표시되도록 함 */
}



#img_l {
    width: 280px; /* 이미지 크기 조정 */
    height: auto;
    margin-right: 20px;
    border-radius:15px;
}




