html, body {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
}
/* body > div {
    margin: 50px 50px;
    padding: 10px 10px;
} */
a {
    text-decoration: none;
    color: white;
}
input[type="text"]::-webkit-input-placeholder {
    color: gainsboro;
}

/* 비활성화 속성 스타일 */
*:disabled {
    background-color: dimgrey;
    color: linen;
    opacity: 0.3;
}
/* 스크롤바 스타일 */
*::-webkit-scrollbar {
    width: 15px;
}
*::-webkit-scrollbar-thumb {
    background-color: #888;
}


.btn {
    cursor: pointer;
}
.listInitLeft {
    display: flex;
    list-style: none;   /* 리스트 점(불릿) 해제 */
    padding-left: 0px;  /* 리스트 들여쓰기 해제 */
    flex-direction: row; /* 가로배열(default), 세로배열: column */
    justify-content: left; /* 가운데 정렬 */
    align-items: center; /* 가운데(세로) 정렬 */
    font-size: large;
}
.listInitCenter {
    display: flex;
    list-style: none;   /* 리스트 점(불릿) 해제 */
    padding-left: 0px;  /* 리스트 들여쓰기 해제 */
    flex-direction: row; /* 가로배열(default), 세로배열: column */
    justify-content: center; /* 가운데 정렬 */
    align-items: center; /* 가운데(세로) 정렬 */
    font-size: large;
}
.profileMoveBtn {
    padding: 5px 5px;
    margin: 5px 5px;
    border: 3px;
    border-radius: 5px;
    outline: 0;
    text-decoration: none;
    color: white;
    background: #777777;
    text-align: center;
}
.profileHeader {
    margin: 5px 10px;
    padding: 5px 10px;
    font-size: large;
}
.highLightImg {
    cursor: pointer;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    margin: 5px 10px;
    padding: 5px 10px;
}
.highLightDiv .newHighLightDiv {
    width: 10vw;
}
.highLightTextDiv {
    margin: 0px 10px 30px 10px;
    padding: 5px 10px;
    /* text-align: center; */
    font-size: small;
}
.profileInfoListItem {
    margin: 5px 10px;
    padding: 5px 10px;
}
.show {
    display: block;
}
.tabActive {
    border-style: solid;			
    border-width: 1px 0px 0px 0px;
}
.postImg {
    cursor: pointer;
    width: 200px;
    height: 200px;
    border-radius: 0px;
    margin: 5px 10px;
    padding: 5px 10px;
}
.modalBg {
	display: none;
	position: fixed;
	top: 0; left: 0; bottom: 0; right: 0;
	width: 100%; height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 998;		
}
.storyGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    /* max-height: 300px; */
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
}
.storyImg {
    width: 100%; /* 3개의 이미지가 들어가도록 너비 조정 */
    height: auto;
    cursor: pointer;
}
.storyImg.selected {
    border: 2px solid blue;
}
.cancelBtn {
    background-color: transparent;
    color: red;
    font-size: 30px;
    font-weight: bolder;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.cancelBtn::after {
    content: "×";
}


#myProfileDiv {
    display: inline-flex;
    height: 20%;
}
#myProfileDiv #profileImgDiv #profileImg {
    cursor: pointer;
    width: 160px;
    height: 160px;
    border-radius: 100px;
    border: thick double #777777 ;
}
#userId {
    font-size:x-large;
    margin: 10px 10px;
}
#rootHighLightDiv {
    height: 80%;
}
#tab-container {
    width: 100%;
    height: 100%;
    text-align: center;
}
#tab-menu {
    text-align: center;
}
#tab-menu ul li {
    cursor: pointer;
    margin: 5px 5px;
    padding: 5px 20px;
    display: block;
}
#tab-content div {
    display: none;
    height: 100vh;
}
#profileInfo {
    margin: 20px 30px;
    padding: 20px 50px;
}
#uploadBtn {
    color:blue;
}
#removeBtn {
    color:red;
}
#cancelBtn {
    color:white;
}
#fileInput {
    /* visibility:hidden; */
    display: none;
}
#grid { 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 1vw;
}
#grid > div {
font-size: 3vw;
padding: .5em;
text-align: center;
}
#profileModal {
    display: none;
    width: 30%;
	height: 40%;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
	background-color: #777777 ;
	flex-flow: column;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 999;
    border-radius: 20px;
    overflow: hidden;
}
#profileModal .buttonInit {
    border: none;
    outline: none;
    background-color: inherit; /* transparent */
    cursor: pointer;
    display: flex;
    flex-direction: column; /* 가로배열(default), 세로배열: column */
    justify-content: center; /* 가운데 정렬 */
    align-items: center; /* 가운데(세로) 정렬 */
    font-size: large;
}
#highLightModal {
    display: none;
    width: 30%;
	height: 25%;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
	background-color: #777777 ;
	flex-flow: column;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 999;
    border-radius: 20px;
}
#highLightModal2 {
    display: none;
    width: 60%;
	height: 70%;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
	background-color: #777777 ;
	flex-flow: column;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 999;
    border-radius: 20px;
    overflow-y: auto;
}
#profileFileInput {
    display: none;
}
#highLightModal .buttonInit {
    border: none;
    /* outline: none; */
    background-color: transparent;
    cursor: pointer;
    display: flex;
    flex-direction: column; /* 가로배열(default), 세로배열: column */
    /* justify-content: center; 가운데 정렬 */
    /* align-items: center; 가운데(세로) 정렬 */
    font-size: large;
    font-weight: bolder;
}
#highLightModal2 .buttonInit {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    flex-direction: column; /* 가로배열(default), 세로배열: column */
    font-size: large;
}
#highLightName {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    flex-direction: column; /* 가로배열(default), 세로배열: column */
    font-size: large;
    height: 100%;
}
#highLightModal form {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    flex-direction: column; /* 가로배열(default), 세로배열: column */
    font-size: large;
    height: 100%;
}
#highLightNextBtn, #highLightNextBtn2 {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    font-size: large;
    align-items: center; /* 수직 정렬 */
    margin-top: auto; /* 위쪽으로 자동 여백 추가 */
    margin-bottom: 20px; /* 아래쪽 여백 추가 */
}
#highlightStoryModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.highlightStoryContent {
    position: relative;
    width: 80%;
    max-width: 600px;
    max-height: 80%;
}
#highlightStoryImg {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
#mainSection {
    flex: 1; /* 메인 섹션은 남은 공간 모두 차지 */
    overflow-y: auto;
    float: right;
}
